<!-- Outils de tri -->
<div class="container">
	<div class="row mt-2">
		<div class="col-md-12">
			<div class="btn-group">
				<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"> Trier par</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Du + au - récent</a>
					<a class="dropdown-item" href="#">Du - au + récent</a>
					<a id="trialpha" class="dropdown-item" href="#">Par ordre alphabétique</a>
				</div>
			</div>
			<a class="btn btn-primary" href="{{ path('home') }}">Tous les liens</a>
		</div>
	</div>
</div>