<!-- Champs de recherche -->
<div class="col-md-6">
	<form action="#">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Recherche par mots-clés">
			<div class="input-group-append">
				<button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
			</div>
		</div>
		<small class="form-text text-muted">Exemple de mots-clefs : Informatique, Loisirs, Limoges</small>
	</form>
</div>