<footer class="bg-secondary p-2">
		<div class="container">
			<p class="text-muted">Annuaire réalisé par le Groupe 3 dans le cadre de la POEC Concepteur Développeur Web avec l'ALIPTIC</p>
		</div>
</footer>