{% extends 'base.html.twig' %}

{% block title %}Accueil - Annuaire de liens{% endblock %}

{% block body %}

    {% include 'inc_navbar.html.twig' %}

	<div class="container">
		<div class="row mt-2">

			<!-- Formulaire de création d'un nouvel Utilisateur -->
			<div class="col-md-4 mb-2">
				<form action="#" method="POST">
					<div class="card">
						<div class="card-header bg-add">
							<h5 class="text-center">Création d'un nouvel utilisateurs</h5>
						</div>
						<div class="card-body">
							<input id="nomUtil" type="text" class="form-control" placeholder="Nom">
							<input id="prenomUtil" type="text" class="form-control" placeholder="Prénom">
							<input id="emailUtil" type="text" class="form-control" placeholder="Email">
							<input id="mdpUtil" type="text" class="form-control" placeholder="Mot de passe">
						</div>
						<div class="card-footer">
							<button class="btn btn-success float-right" type="button"><i class="fas fa-plus-circle fa-lg"></i>&nbsp; Créer</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>

	{% include 'inc_footer.html.twig' %}

{% endblock %}